.container {
  width: 100%;
  margin-top: 4rem;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.listHeader p {
  font-size: var(--font-medium);
  font-weight: 700;
}

.listHeader p span {
  background: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.tasksCreated {
  color: var(--blue);
}

.tasksCompleted {
  color: var(--purple);
}

.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4rem 1.5rem;

  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
  gap: 1rem;
}

.emptyList svg {
  color: var(--gray-400);
}

.emptyList p {
  color: var(--gray-300);
  text-align: center;
}