.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 12.5rem;
}

img {
  height: 2.25rem;
  padding-right: 0.75rem;
}

h1 {
  font-size: var(--font-big);
  font-weight: 900;
}

.blueText {
  color: var(--blue);
}

.purpleText {
  color: var(--purple-dark);
}